<h1><%=user_list_h1%></h1>
<% for (var i = 0; i < users.length; i++) { %>
    <div class="user">
        <% if (users[i].online) { %>
            <%=templates['user_blocks/online.html'](users[i])%>
        <% } else { %>
            <%=templates['user_blocks/offline.html'](users[i])%>
        <% } %>
        <button type="button" onclick="show('user_info.html', {user_id: <%=i%>});">info</button>
    </div>
<% } %>