<h1><%=context.user_info_h1%></h1>
<div><strong>Name:</strong> <%=context.users[user_id].name%></div>
<div><strong>Online:</strong> <%=context.users[user_id].online%></div>
<div><strong>Info:</strong> <%=context.users[user_id].info%></div>
<button type="button" onclick="show('user_list.html', context);">back to list</button>
