html, body {
    text-align: center;
}
.content {
    display: inline-block;
    width: 200px;
}
.user .online, .user .offline {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.user .online {
    color: green;
}
.user .offline {
    color: red;
}